@model BibEntryFormat

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BibEntryFormat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeAddress" /> @Html.DisplayNameFor(model => model.IncludeAddress)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeAnnote" /> @Html.DisplayNameFor(model => model.IncludeAnnote)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeAuthor" /> @Html.DisplayNameFor(model => model.IncludeAuthor)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeBooktitle" /> @Html.DisplayNameFor(model => model.IncludeBooktitle)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeChapter" /> @Html.DisplayNameFor(model => model.IncludeChapter)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeCrossReference" /> @Html.DisplayNameFor(model => model.IncludeCrossReference)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeDOI" /> @Html.DisplayNameFor(model => model.IncludeDOI)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeEdition" /> @Html.DisplayNameFor(model => model.IncludeEdition)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeEditor" /> @Html.DisplayNameFor(model => model.IncludeEditor)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeEmail" /> @Html.DisplayNameFor(model => model.IncludeEmail)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeHowpublished" /> @Html.DisplayNameFor(model => model.IncludeHowpublished)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeInstitution" /> @Html.DisplayNameFor(model => model.IncludeInstitution)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeJournal" /> @Html.DisplayNameFor(model => model.IncludeJournal)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeKey" /> @Html.DisplayNameFor(model => model.IncludeKey)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeMonth" /> @Html.DisplayNameFor(model => model.IncludeMonth)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeNumber" /> @Html.DisplayNameFor(model => model.IncludeNumber)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeOrganization" /> @Html.DisplayNameFor(model => model.IncludeOrganization)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludePages" /> @Html.DisplayNameFor(model => model.IncludePages)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludePublisher" /> @Html.DisplayNameFor(model => model.IncludePublisher)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeSchool" /> @Html.DisplayNameFor(model => model.IncludeSchool)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeSeries" /> @Html.DisplayNameFor(model => model.IncludeSeries)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeTitle" /> @Html.DisplayNameFor(model => model.IncludeTitle)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeType" /> @Html.DisplayNameFor(model => model.IncludeType)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeVolume" /> @Html.DisplayNameFor(model => model.IncludeVolume)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeYear" /> @Html.DisplayNameFor(model => model.IncludeYear)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
